body {
    background: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}


#title, .subtitle, .postTitle {
    color: #505050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-photo{
    border: 1px solid #505050;
    border-radius: 50%;
}
.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}
.post {
    background: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
    text-transform:capitalize ;
    text-align: justify;
}

.post-image{
    margin-bottom: 15px;
    width: 100%;
}

.contacts-list {
    list-style-type: none;
    padding-left: 15px;

}

.contacts-list li a 
{
    text-decoration: none;
}